@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #ffffff;
    transition: opacity 0.2s ease;
}

a:hover{
    opacity: 0.7 !important;
    cursor: pointer;
}

li{
    list-style: none;
}

nav{
    background-color: #c96be6;
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
}

nav .logo,
footer .logo{
    display: flex;
    align-items: center;
}

nav .logo img,
footer .logo img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

nav ul,
footer .top ul{
    display: flex;
    justify-content: center;
    gap: 60px;
}

nav button{
    color: #000000;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover{
    background-color: #9d28c1;
    border-color: #000000;
    color: #fff;
}

nav button#menuButton{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}

nav .social-links{
    font-size: 26px;
}

.instruções{
    padding: 110px 85px;
}

.instruções .header{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 60px;

}

.instruções .intru-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 120px;
}

.instruções .intru-items .item{
    width: 20%;
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.instruções .intru-items .item:hover{
    border-color: #c96be6;
}

.instruções .intru-items .item img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px 10px 20px 20px;
}

.instruções .intru-items .item .info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 32px 42px;
}

.instruções .intru-items .item .info p{
    font-size: 16px;
}

.instruções .intru-items .item .info a{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #c96be6;
}

.instruções .intru-items .item .info a i{
    margin-left: 2px;
    font-size: 16px;
}

footer{
    background-color: #deebee;
    padding: 85px;
    display: flex;
    flex-direction: column;
}

footer .top,
footer .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .top .social-links{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 26px;
}

footer .separator{
    width: 100%;
    height: 1px;
    background-color: #282938;
    margin: 30px 0 20px;
}

footer .bottom p{
    font-size: 15px;
}

footer .bottom .links p{
    font-size: 15px;
    margin-left: 14px;
    margin-right: px;
}

footer .logo img{
    margin-right: 20px;
}

@media screen and (max-width: 1200px) {
    
    .main .left h5{
        font-size: 18px;
    }

    .main .left h3{
        font-size: 36px;
    }

    .main .left p{
        font-size: 18px;
    }

    .main .right img{
        width: 380px;
    }

    .instruções .header h3,

    footer .top ul{
        gap: 20px;
    }

}

@media screen and (max-width: 992px) {
    
    nav button{
        display: none;
    }

    nav ul{
        gap: 20px;
    }

    nav ul li a{
        font-size: 15px;
    }

    .main{
        flex-direction: column;
    }

    .instruções .intru-items{
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .instruções .intru-items .item{
        width: 48%;
    }

    footer .top ul{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    
    nav{
        justify-content: space-between;
        padding: 0 42px;
    }

    nav ul{
        display: none;
        margin-right: 310px;
    }

    nav.open .logo{
        display: none;
    }

    nav.open ul{
        display: flex;
        justify-content: space-evenly;
    }

    nav button#menuButton{
        display: flex;
    }

    .main{
        padding: 42px;
    }

    .instruções{
        padding: 60px 42px;
    }

    .instruções .intru-items{
        gap: 18px;
    }

    footer{
        padding: 85px 42px;
    }

    footer .bottom{
        flex-direction: column-reverse;
        gap: 14px;
    }

}

@media screen and (max-width: 576px) {
    
    nav ul li a{
        font-size: 13px;
    }

    nav .logo a{
        font-size: 18px;
    }

    .main .left h3{
        font-size: 32px;
    }

    .main .left p{
        font-size: 16px;
    }

    .main .left button{
        width: 100%;
    }

    .instruções .header button{
        font-size: 12px;
        padding: 8px 14px;
    }

    .instruções .intru-items .item{
        width: 80%;
    }

}